# Dependencies
node_modules/

# Expo / Metro
.expo/
dist/
web-build/
.metro-health-check*

# Env & secrets
.env
.env.*
!.env.example

# Logs & OS
npm-debug.*
*.log
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# TypeScript
*.tsbuildinfo
